{% extends "basic.html.twig" %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{{ dump(data) }}

<h3>Journal d'erreurs</h3>
<div id="logsInformations">
  {{log}}
</div>

<button class="btn btn-success">Hello {{test}} :)</button>
{% endblock %}
